.hidden-submit {
  display: none;
}

.mb-16 {
  margin-bottom: 16px;
}

.m-0 {
  margin: 0px;
}

.pr-12 {
  padding-right: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pl-8 {
  padding-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}
