<div fxLayout="column" fxLayoutAlign="start center" class="wrapper">
  <h1>Inschrijven</h1>

  <p style="max-width: 700px; margin-bottom: 40px;">
    Helaas is er door de <strong>Corona-crisis</strong> niet altijd voor iedereen plaats... <strong>Het kan zijn dat het speelplein je inschrijving later nog weigert</strong>.
  </p>

  <div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="possibleAttendances$ | async as attendances; else loading">
    <mat-card *ngFor="let week of attendances.parentPlatform.shiftsAvailable" style="margin-bottom: 30px; max-width: 700px;">
      <mat-card-header>
        <mat-card-title>{{ week.weekDescription }}</mat-card-title>
      </mat-card-header>


      <div *ngIf="week.possibleBubbles != null && week.possibleBubbles.length !== 0">
        <p>
          <em>
            Van de overheid moeten kinderen worden ingedeeld in <strong>"bubbels"</strong>, groepen van maximum 50 kinderen die geen contact met elkaar mogen hebben.
            Je kan een voorkeur opgeven, maar het speelplein kan je kind elders indelen wanneer die bubbel al vol is of wanneer een ander bubbel beter past.
          </em>
        </p>
        <mat-form-field style="width: 100%">
          <mat-label>Voorkeursbubbel</mat-label>
          <mat-select (selectionChange)="changePreferredBubble(week.weekNumber, $event?.value?.name)">
            <mat-option [value]="null">
              Geen voorkeur
            </mat-option>
            <mat-option *ngFor="let bubble of week.possibleBubbles" [value]="bubble">
              {{bubble.name}} ({{ bubble.totalSpots }} plaatsen)
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-card-content>
        <div *ngFor="let day of week.days">
          <h3>{{ day.dayFormatted }}</h3>

          <mat-selection-list (selectionChange)="selectionChange($event)">
            <mat-list-option *ngFor="let shift of day.shifts" [value]="shift">
              <h3 matLine>
                {{ shift.kind }} ({{ shift.price }})<span *ngIf="shift.description !== ''">: {{ shift.description }}</span>
              </h3>
              <p matLine>
                <span>{{ shift.durationFormatted }}</span>
                <span *ngIf="shift.location">, {{ shift.location }}</span>
              </p>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </mat-card-content>
    </mat-card>

    <button mat-raised-button color="accent" style="margin-bottom: 200px;" (click)="confirm()">
      Bevestigen
      <mat-icon svgIcon="send"></mat-icon>
    </button>
  </div>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
