<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="register-card">
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <h1>Registreren</h1>

        <p>
          Heb je al een account? Dan kan je <a [routerLink]="['/login']">hier</a> inloggen.
        </p>

        <mat-form-field appearance="outline">
          <mat-label>Emailadres</mat-label>
          <input matInput formControlName="email" placeholder="Emailadres">
          <mat-error>Ongeldig emailadres</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>(Volledige) naam</mat-label>
          <input matInput formControlName="displayName" placeholder="(Volledige) naam">
          <mat-error>Ongeldig naam</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Wachtwoord</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Wachtwoord">
          <mat-error>Wachtwoord is verplicht</mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="acceptPrivacyPolicy">Ik aanvaard de <a href="https://www.hoepel.app/privacy">privacyverklaring</a></mat-checkbox>

        <mat-checkbox formControlName="acceptTerms">Ik aanvaard de <a href="https://www.hoepel.app/voorwaarden">gebruiksvoorwaarden</a></mat-checkbox>

        <div *ngIf="error" class="warn-well">
          {{ error }}
        </div>

        <button mat-button [disabled]="registerForm.invalid" type="submit" color="primary" class="register-button">REGISTREREN</button>
      </div>
    </form>
  </mat-card>
</div>
