<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <h1>Inloggen</h1>

        <p>
          Heb je nog geen account? Dan kan je <a [routerLink]="['/registreren']">hier</a> een aanmaken.
        </p>

        <mat-form-field appearance="outline">
          <mat-label>Emailadres</mat-label>
          <input matInput formControlName="email" placeholder="Emailadres">
          <mat-error>Ongeldig emailadres</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Wachtwoord</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Wachtwoord">
          <mat-error>Wachtwoord is verplicht</mat-error>
        </mat-form-field>

        <a [routerLink]="['/wachtwoord-vergeten']" class="forgot-password-link mat-small">Wachtwoord vergeten</a>

        <div *ngIf="error" class="warn-well">
          {{ error }}
        </div>

        <button mat-button [disabled]="loginForm.invalid" type="submit" color="primary" class="login-button">INLOGGEN</button>
      </div>
    </form>
  </mat-card>
</div>
