.wrapper {
  width: 100%;
  margin-bottom: 50px;
}

.playground-details-card {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 400px;
}

.children-card {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 400px;
}

.playground-header-image {
  background-size: cover;
}

.edit-button {
  margin-right: 5px;
}

.info-text {
  margin-left: 10px;
}
