<div class="wrapper" fxLayout="column" fxLayoutAlign="start center" >
  <mat-card class="playground-details-card">
    <mat-card-header>
      <div mat-card-avatar class="playground-header-image"
           *ngIf="playground.logoSmallUrl"
          [ngStyle]="{ 'background-image': 'url(' + playground.logoSmallUrl + ')' }"
      ></div>
      <mat-card-title>{{ playground.name }}</mat-card-title>
      <mat-card-subtitle>{{ playground?.address?.city }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ playground.description }}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="children-card">
    <mat-card-header>
      <mat-card-title>Kinderen</mat-card-title>
      <mat-card-subtitle>Registreer kinderen voor {{ playground.name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Voor je kinderen kunnen deelnemen aan het speelplein, vragen we je om ze te registreren. Voeg ze hier toe, zo
        heeft het speelplein de meest recente info en kunnen ze je kind snel inschrijven op de dag zelf.
      </p>

      <p>
        <em>Om kinderen aan te passen of te verwijderen, neem contact op met het speelplein.</em>
      </p>

      <p *ngIf="children.length === 0">
        <em>Momenteel heb je nog geen geregistreerde kinderen bij dit speelplein.</em>
      </p>

      <mat-list *ngIf="children.length !== 0">
        <mat-divider></mat-divider>
        <div *ngFor="let child of children">
          <mat-list-item>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
              <p>
                {{ child.firstName }} {{ child.lastName }}
              </p>

              <a mat-button [routerLink]="['inschrijven', child.id]" *ngIf="playground.enableOnlineEnrollment">
                <mat-icon>event</mat-icon>
                INSCHRIJVEN
              </a>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>

      <div *ngIf="saving$ | async" fxLayout="row" fxLayoutAlign="start center">
        <mat-spinner diameter="20"></mat-spinner>
        <p class="info-text">
          Bezig met opslaan...
        </p>
      </div>

      <div *ngIf="error$ | async" fxLayout="row" fxLayoutAlign="start center">
        <p class="info-text">
          Er ging iets mis... Probeer het later opnieuw.
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="createChild()">
        <mat-icon>add</mat-icon>
        KIND TOEVOEGEN
      </button>
    </mat-card-actions>
  </mat-card>
</div>


