<mat-card class="playground-card">
  <mat-card-header>
    <div mat-card-avatar class="playground-header-image"
         *ngIf="playground.logoSmallUrl"
         [ngStyle]="{ 'background-image': 'url(' + playground.logoSmallUrl + ')' }"
    ></div>
    <mat-card-title><a [routerLink]="['/speelpleinen', playground.id]">{{ playground.name }}</a></mat-card-title>
    <mat-card-subtitle>{{ playground?.address?.city }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ playground.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="['/speelpleinen', playground.id]">REGISTREREN</a>
  </mat-card-actions>
</mat-card>
