<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="forgot-password-card">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <h1>Wachtwoord vergeten</h1>

        <p>
          Vul je emailadres in, en dan sturen we je een mail om je wachtwoord te resetten.
        </p>

        <mat-form-field appearance="outline">
          <mat-label>Emailadres</mat-label>
          <input matInput formControlName="email" placeholder="Emailadres">
          <mat-error>Ongeldig emailadres</mat-error>
        </mat-form-field>

        <button mat-button [disabled]="forgotPasswordForm.invalid" type="submit" color="primary" class="forgot-password-button">BEVESTIGEN</button>
      </div>
    </form>
  </mat-card>
</div>
